html {
    background-color: rgba(163, 163, 163, 1);
    font-family: 'Roboto Mono', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    padding: 10px;
    margin: 10px;
    border: 4px solid #4350C6;
    border-radius: 15px;
    background-color: #C5C5C5;
}

img {
    max-width: 100%;
}

h1 {
    margin-top: 0;
    font-size: 2.5rem;
}

p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.3rem;
}

input {
    height: 30px;
    width: 250px;
    border-radius: 15px;
    border-color: #4350C6;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: #4350C6;
    color: #cccccc;
}